@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #111111;
    font-family: 'Inter';
}
body{
    overflow-x: hidden;
}
.navigation-bar-container{
    display: flex;
    justify-content: space-between;
    margin-inline: 32px;
    margin-block: 41px;
}
.logo-title{
    font-size: 2rem;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 63px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #000000;
}
.nav-link-border {
    padding: 2px 0;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link-border::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-link-border:hover::after {
    opacity: 1;
}
#contact-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 202px;
    height: 49px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #111111;
    color: #FFFFFF;
}
#contact-link a:hover{
    background-color: #FFFFFF;
    color: #111111;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #111111;
}


.dev-name-intruduction-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 60px;
}
.dev-name-title{
    font-size: 3rem;
}
#seperator{
    border: 2px solid #5E5E5E;
    width: 263px;
    margin-block: 25px;
}
.dev-name-intruduction{
    width: 800px;
    text-align: center;
    font-size: 1.125rem;
}