.contact-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block-start: 137px;
    margin-block-end: 25px;
}
.contact-title{
    font-size: 2.25rem;
}
#contact-seperator {
    border: none;
    height: 1px;
    background-color: #5E5E5E;
    width: 263px;
    margin-block-start: 20px;
}
.contact-form-container{
    margin-block-start: 35px;
}
.contact-form-container form{
    display: grid;
    grid-template-columns: auto auto;
    gap: 71px;
    row-gap: 16px;
}
#input-txtarea-title{
    font-size: 1.125rem;
    font-weight: 700;
    margin-block: 10px;
}
.contact-form-information input{
    font-size: 1.125rem;
    border: 1px solid #5E5E5E;
    padding-inline: 10px;
    width: 519px;
    border-radius: 10px;
    height: 42px;
}
.contact-form-information textarea{
    overflow: hidden;
    font-size: 1.125rem;
    border: 1px solid #5E5E5E;
    padding-inline: 10px;
    padding-block: 10px;
    width: 519px;
    border-radius: 10px;
    height: 125px;
    resize: none;
}
#contact-form-submit{
    margin-block: 15px;
    border: 1px solid #111111;
    width: 202px;
    height: 49px;
    font-size: 1.5rem;
    display: flex;
    margin-inline-start: 317px;
    background-color: #111111;
    color: #FFFFFF;
    font-weight: 300;
    cursor: pointer;
}
#contact-form-submit:hover{
    background-color: #FFFFFF;
    color: #111111;
    transition: background-color 0.3s, color 0.3s;
}